<!-- partials/sidebar-nav.html -->
<ul class="nav">
  <!-- 프로필 영역 -->
  <div class="profile">
    <img src="https://placehold.co/120x120" alt="avatar" />
    <h2>RunGeun <span>🐱‍💻</span></h2>
    <p class="nick">정근</p>
  </div>

  <!-- 퀵 메뉴 -->
  <nav class="quick">
    <button><i class="fa-solid fa-house"></i></button>
    <button><i class="fa-solid fa-magnifying-glass"></i></button>
    <button><i class="fa-solid fa-user"></i></button>
  </nav>
  <!-- Programming 창-->
  <li>
    <h3 class="group">Programming</h3>
    <ul>
      <li class="item">
        <span><i class="fa-solid fa-code"></i> Mark Up</span>
        <span class="badge">16</span>
      </li>
      <li class="item">
        <span><i class="fa-solid fa-paintbrush"></i> Style Sheet</span>
        <span class="badge">67</span>
      </li>
      <li class="item">
        <span><i class="fa-solid fa-language"></i> Language</span>
        <span class="badge">198</span>
      </li>
    </ul>
  </li>

  <!-- Framework 창-->
  <li>
    <h3 class="group">Framework</h3>
    <ul>
      <li class="item">
        <span><i class="fa-brands fa-node-js"></i> Node.js</span>
        <span class="badge">83</span>
      </li>
      <li class="item">
        <span><i class="fa-solid fa-leaf"></i> Spring</span>
        <span class="badge">0</span>
      </li>
    </ul>
  </li>
</ul>
